@charset "UTF-8";

body {
    background-color: rgb(165, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, rgb(15, 173, 15), rgb(15, 202, 15));
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
    border-radius: 5px 5px 0px 0px;
    min-height: 150px;
}

header > h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.404);
}

header > p {
    font-size: 1.6em;
    text-align: center;
    color: white;
    padding: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.404);
    max-width: 500px;
    margin: auto;
}

nav {
    background-color: darkgreen;
    padding: 10px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: rgb(84, 214, 171);
    color: rgb(8, 82, 8);
}

main {
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.404);
    padding: 10px;
}

main strong {
    color: green;
}

main h1 {
    color: rgb(6, 92, 63);
    background-image: linear-gradient(to right, rgb(76, 212, 76), transparent);
}

main h2 {
    color: rgb(6, 92, 63);
    background-image: linear-gradient(to right, rgb(76, 212, 76), transparent);
    font-size: 1.3em;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main img {
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
}

main > article > div {
    background-color: green;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
    padding-bottom: 55.1%;
    position: relative;
}

main iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: rgb(88, 88, 223);
    border-radius: 5px;
}

aside p {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

    




